/* color: #2E2F42; title-text-color */
/* color: #434455;  primary-text-color */
/* color: #E7E9FC; footer-text-color */
/* color: #FFFFFF; white-color */
/* color: #4D5AE5; iris-color */
/* accent-color: blue; */

/* background: #E5E5E5; all */
/* background: #F4F4FD; our-team*/
/* background: #2E2F42;  main-page-footer */


:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --footer-text-color: #E7E9FC;
    --white-color: #FFFFFF;
    --cloud-color: #F4F4FD;
    --iris-color: #4D5AE5;
    --bcg-header-color: #FFFFFF;
    --bcg-all-color: #E5E5E5;
    --bcg-main-page-footer-color: #2E2F42;
    --bcg-our-team-color: #F4F4FD;
    --bcg-button-color: #4D5AE5;
    --accent-color: #E7E9FC;
    --pressed-state: #404BBF;
    --bcg-portf-buttom-color: #F4F4FD;
    --portf-buttom-text-color: #4D5AE5;
    --accent-portf-btn-color: #404BBF;


}

body {
    background-color: var(--bcg-header-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
}

  .link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
 }

 .link-contacts {
     color: var(--title-text-color);
     font-size: 16px;
     line-height: 1.5;
     text-decoration: none;
 }

 .link:hover, .link:focus {
     color: var(--pressed-state);
 }

 

 .link-contacts:hover,
 .link-contacts:focus {
     color: var(--pressed-state);
 }

 .web-color {
    color: var(--iris-color);

    
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    
 }

 .logo {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
 }

 .link-studio-color {
    color: var(--title-text-color);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
 }

.header-color {
    background-color: var(--bcg-header-color);
}

.bcg-color {
    background-color: var(--bcg-main-page-footer-color);
    color: var(--white-color);
}

.title-solutions {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
}

.button-color {
    background-color: var(--bcg-button-color);
    color: var(--white-color);
    border: var(--iris-color);
    font-size: 16px;
    font-family: Roboto, sans-serif;
}

.list {
    list-style: none;
    
}

.address-font-style {
    font-style: normal;
    font-weight: 400;
}

.title-color,
.title-color-team {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.title-second-level {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1,11;
    text-align: center;
    text-transform: capitalize;
}


.decription {
    font-size: 16px;
    line-height: 1.5;
}

.footer-text-color {
    color: var(--footer-text-color);

    font-size: 16px;
    line-height: 1.5;
}

.bcg-our-team {
    background: var(--bcg-our-team-color);
}

.footer-design-color {
    color: var(--cloud-color);

    font-size: 18px;
    line-height: 1.17;
}

.footer-web-color {
    color: var(--iris-color);

    font-size: 18px;
    line-height: 1.17;
}

/* portfolio */
.button-portf-color {
    background-color: var(--bcg-portf-buttom-color);
    
}

.btn-text-prtf-color {
    color: var(--portf-buttom-text-color);

    font-family: Roboto, sans-serif;
    font-size: 16px;
}

.accent-btn:hover, .accent-btn:focus {
    background-color: var(--accent-portf-btn-color);
    color: #FFFFFF;
}

.text-parametr {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.paragraph-parametr {
    font-size: 16px;
    line-height: 1.5;
}