/* color: #2E2F42; title-text-color */
/* color: #434455;  primary-text-color */
/* color: #E7E9FC; footer-text-color */
/* color: #FFFFFF; white-color */
/* color: #4D5AE5; iris-color */
/* accent-color: blue; */

/* background: #E5E5E5; all */
/* background: #F4F4FD; our-team*/
/* background: #2E2F42;  main-page-footer */


:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --footer-text-color: #E7E9FC;
    --white-color: #FFFFFF;
    --cloud-color: #F4F4FD;
    --iris-color: #4D5AE5;
    --bcg-header-color: #FFFFFF;
    --bcg-all-color: #E5E5E5;
    --bcg-main-page-footer-color: #2E2F42;
    --bcg-our-team-color: #F4F4FD;
    --bcg-button-color: #4D5AE5;
    --accent-color: #E7E9FC;
    --pressed-state: #404BBF;
    --bcg-portf-buttom-color: #F4F4FD;
    --portf-buttom-text-color: #4D5AE5;
    --accent-portf-btn-color: #404BBF;
}

body {
    background-color: var(--bcg-header-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
    
}

  .link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;

    display: block;
    padding-top: 21px;
    padding-bottom: 21px;
 }

 /* utility */
 .list {
     list-style: none;
     padding: 0;
     margin: 0;
    
 }

 .link-contacts {
     color: var(--title-text-color);
     font-size: 16px;
     line-height: 1.5;
     text-decoration: none;

     display: block;
     padding-top: 21px;
     padding-bottom: 21px;
     
 }

 .link:hover, .link:focus {
     color: var(--pressed-state);
 }

 

 .link-contacts:hover,
 .link-contacts:focus {
     color: var(--pressed-state);
 }

 .web-color {
    color: var(--iris-color);

    
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;

    margin-left: 15px;
    
 }

 .logo {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
 }

 .logo-footer {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
    /* margin-bottom: 100px; */
    
 }

 

 .link-studio-color {
    color: var(--title-text-color);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
 }

.header-color {
    background-color: var(--bcg-header-color);
}

.bcg-color {
    background-color: var(--bcg-main-page-footer-color);
    color: var(--white-color);

    padding-top: 138px;
    text-align: center;
}

.bcg-color-footer {
    background-color: var(--bcg-main-page-footer-color);
    color: var(--white-color);
    padding-top: 100px;
    /* padding-bottom: 16px; */
}

.title-solutions {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;

    margin-top: 0;
    margin-bottom: 48px;
    /* outline: 2px solid tomato; */
}

.button-color {
    background-color: var(--bcg-button-color);
    color: var(--white-color);
    border: var(--iris-color);
    font-size: 16px;
    font-family: Roboto, sans-serif;

    min-width: 169px;
    height: 56px;
    /* text-align: center; */
}
.button-color:hover, .button-color:focus {
    cursor: pointer;
} 

.address-font-style {
    font-style: normal;
    font-weight: 400;
}  

.title-color,
.title-color-team {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

    margin-top: 0;
    margin-bottom: 8px;
}

.title-second-level {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1,11;
    text-align: center;
    text-transform: capitalize;

    margin-top: 0;
    margin-bottom: 72px;
    
}


.decription {
    font-size: 16px;
    line-height: 1.5;

}

.footer-text-color {
    color: var(--footer-text-color);

    font-size: 16px;
    line-height: 1.5;
    
    padding-top: 16px;
    padding-bottom: 100px;
    margin-top: 0;
    margin-bottom: 0;
    width: 264px;
    
    margin-left: 15px;
    box-sizing: border-box;
}

.bcg-our-team {
    background: var(--bcg-our-team-color);

    margin-top: 0;
    /* outline: 2px solid tomato; */
}

.footer-design-color {
    color: var(--cloud-color);

    font-size: 18px;
    line-height: 1.17;
    
}

.footer-web-color {
    color: var(--iris-color);

    font-size: 18px;
    line-height: 1.17;

    margin-left: 15px;
    margin-bottom: 16px;

}

/* portfolio */
.button-portf-color {
    background-color: var(--bcg-portf-buttom-color);
    
}

.btn-text-prtf-color {
    color: var(--portf-buttom-text-color);

    font-family: Roboto, sans-serif;
    font-size: 16px;
}

.accent-btn:hover, .accent-btn:focus {
    background-color: var(--accent-portf-btn-color);
    color: #FFFFFF;
    cursor: pointer;

    border: 1px solid transparent;
    border-radius: 4px;

}

.text-parametr {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.paragraph-parametr {
    font-size: 16px;
    line-height: 1.5;
}

/* main page home task 3 */
.container {
    margin-left: auto;
    margin-right: auto;
    /* outline: 2px solid tomato; */
    width: 1158px;
    padding-top: 24px;
}

.button-size {
    height: 48px;
    min-width: 69px;
    background-color: var(--cloud-color);
    border: 1px solid var(--accent-color);
    border-radius: 4px;
}


.container-title-margin {
    margin-top: 0;
    margin-bottom: 8px;
}

.container-padding {
    margin-left: auto;
    margin-right: auto;
    /* outline: 2px solid tomato; */
    width: 1158px;

    padding-top: 120px;
    padding-bottom: 120px;
    
}


.containeer-padding-team {
    margin-left: auto;
    margin-right: auto;
    /* outline: 2px solid tomato; */
    width: 1158px;
    
    padding-top: 120px;
    padding-bottom: 120px;
}

.p-padding {
    margin-top: 0;
    margin-bottom: 32px;
}

.image-margin {
    margin-bottom: 32px;
}

.container-footer {
    margin-left: auto;
    margin-right: auto;
    /* outline: 2px solid tomato; */
    width: 1158px;
   
}

.container-portfolio {
    margin-left: auto;
    margin-right: auto;
    /* outline: 2px solid tomato; */
    width: 1158px;
    padding-top: 96px;
    padding-bottom: 120px;
}

.button-padding {
    margin-left: auto;
    margin-right: auto;
    /* outline: 2px solid tomato; */
    margin-bottom: 84px;

    display: flex;
    justify-content: center;
}

.site-nav  {
    display: flex;
}

.site-nav li {
    margin-right: 40px;
    margin-left: 76px;
    /* outline: 2px solid tomato;  */
}

.site-nav .item:last-child {
    margin-right: 0;
}


.main-nav {
    display: flex;
    align-items: center;
}


.container-header {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
    width: 1158px;
    padding-top: 24px;
    justify-content: space-between;
    align-items: center;

    /* outline: 2px solid tomato; */
}

.auth-nav {
    display: flex;
    margin-left: auto;
    margin-right: 15px;

    /* outline: 2px solid tomato; */
}

.auth-nav li:nth-child(1) {
    margin-right: 20px;
    /* outline: 2px solid tomato; */
}

.section-flex {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
}

.section-flex-pictures {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
}

.section-flex-pictures li {
    margin-right: 24px;
}

.our-team-flex {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    /* align-items: center; */
    text-align: center;
}

.our-team-flex li {
    margin-right: 24px;
    background-color: var(--bcg-header-color);
}

.page-list {
    display: flex;
    flex-wrap: wrap;

}

.page-list li {
    margin-right: 24px;
}

.flex-element {
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    margin-bottom: 48px;
}

.flex-element:nth-child(3n) {
    margin-right: 0;
    
}

.button-flex {
    display: flex;
    
}

.button-flex li {
    margin-right: 24px;
}

.button-flex li:last-child {
    margin-right: 0;
}

header {
    border-bottom: 1px solid #E7E9FC;
}